[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
gunicorn = "*"
scipy = "*"
numpy = "*"
scikit-learn = "*"
itsdangerous = "*"
matplotlib = "*"
nltk = "*"
chatterbot-corpus = "*"
jinga2 = "*"
chatterbot = "*"
pyyaml = "*"

[requires]
python_version = "3.7"
